<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="brynn.css">

<link rel="stylesheet" type="text/css" href="alex.css">

</head>
<body>

<div class=brynn>
    <div class=hair1>
        <div class=face>
            <div class="eye eye-left">
                <div class="eye-color">
                    <div class="pupil pupil-left"></div>
                    <div class="light"></div>
                </div>
            </div>
            <div class="eye eye-right">
                <div class="eye-color">
                    <div class="pupil pupil-right"></div>
                    <div class="light"></div>
                </div>
            </div>

            <div class="nose1">
                <div class="nose2"></div>
            </div>
            <div class="mouth">
                <div class="teeth"></div>
            </div>
        </div>
    </div>
    
</div>

    
<div class=alex>
    <div class=aface>
        <div class=ahair1></div>
            <div class="aglasses aglasses-left">
                <div class="aeye-color">
                    <div class="apupil apupil-left"></div>
                    <!--<div class="alight"></div>-->
                </div>
                <div class="frame1">
            </div>
        
            </div>
            <div class="aglasses aglasses-right">
                <div class="aeye-color">
                    <div class="apupil apupil-right"></div>
                    <!--<div class="alight"></div>-->
                </div>
            </div>
            <div class="anose"></div>
            <div class="amouth">
                <div class="aline"></div>
            </div>
        </div>

    
</div>

</body>