<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="brynn.css">
</head>
<body>

<div class=brynn>
    <div class=hair1>
        <div class=face>
            <div class="eye eye-left">
                <div class="eye-color">
                    <div class="pupil pupil-left"></div>
                </div>
            </div>
            <div class="eye eye-right">
                <div class="eye-color">
                    <div class="pupil pupil-right"></div>
                </div>
            </div>
            <div class="nose1">
                <div class="nose2"></div>
            </div>
            <div class="mouth">
                <div class="teeth"></div>
            </div>
        </div>
    </div>
    
</div>
</body>