doctype html
html(lang = "en")
	head
		title PennApps Help Desk
		link(rel='stylesheet',href='/css/brynn.css',type='text/css')
		link(rel='stylesheet',href='/css/alex.css',type='text/css')
	body
		p Welcome to the PennApps Help Desk!
	div
		form(name="search", action="/pass", method="post")
				input( type="text", size="25",placeholder="Enter your question here.")
				input( type="submit", value="Search")
		.brynn
			.hair1
				.face
					.eye.eye-left
						.eye-color
							.pupil.pupil-left
							.light
					.eye.eye-right
						.eye-color
							.pupil.pupil-right
							.light
					.nose1
						.nose2
					.mouth
						.teeth